test*.js
test*.sql
debug*.js
extension_new.js
test_formatted_output.sql
test_final_output.sql
principals.txt
.git
.gitignore
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/spec/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/*.md
node_modules/**/*.map
node_modules/**/*.ts
node_modules/**/.npmignore